services:
    db:
        image: postgres
        restart: always
        ports:
            - "5432:5432"
        environment:
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_DB: ${POSTGRES_DB}
        volumes:
            - pgdata:/var/lib/postgresql

    redis:
        image: redis
        restart: always
        ports:
            - "6379:6379"
        volumes:
            - redisdata:/data

    localstack:
        image: localstack/localstack:3.0
        ports:
            - "4566:4566"
        environment:
            - SERVICES=ses
            - DEBUG=${DEBUG:-0}
        volumes:
            - "/var/run/docker.sock:/var/run/docker.sock"


volumes:
    pgdata:
    redisdata:
